In [1]:
tup = ()

In [2]:
type(tup)

tuple

<h3>assigning values in tuples</h3>

In [3]:
tup1 = ('physics','chemistry',1997,2000)

In [4]:
tup2 = (1,2,3,4,5,6,7)

In [6]:
print('tup1[0]:  ',tup1[0] )

tup1[0]:   physics

In [7]:
print('tup2[1:5]: ',tup2[1:5])

tup2[1:5]:  (2, 3, 4, 5)

<h3>Concatinating tuples</h3>

In [8]:
tup1 =(12,34.56)

In [9]:
tup2 =('abc','mno')

In [10]:
tup1[0]=100 #their is no updation

TypeError: 'tuple' object does not support item assignment

In [11]:
tup3 = tup1 + tup2

In [12]:
tup3 #concatination

(12, 34.56, 'abc', 'mno')

<h3>Deleting tuple elements</h3>

In [14]:
tup = ('physics','chemistry',1997,2000)

In [15]:
tup

('physics', 'chemistry', 1997, 2000)

In [16]:
del(tup)

In [17]:
print('after deleting tup :')

after deleting tup :

In [18]:
tup

NameError: name 'tup' is not defined