<h3>Python - Variable Types</h3>

In [7]:
count = 100     #Integer
miles = 1000.0   #floating point
name = 'Rahul'  #String

In [8]:
print(count)
print(miles)
print(name)

100
1000.0
Rahul

<h3>Multiple assignment</h3>

In [11]:
a = b = c = 1
print(a)
print(b)
print(c)

1
1
1

In [13]:
a,b,c = 1,2,'Rahul'

In [14]:
print(a)
print(b)
print(c)

1
2
Rahul

<h3>Standard Data Types</h3>
<ul>
    <li>Numbers</li>
    <li>String</li>
    <li>List</li>
    <li>Tuple</li>
    <li>Dictionary</li>
</ul>

<h3>Python Number</h3>

In [15]:
var1 = 1
var2 = 10

In [16]:
print(var1)
print(var2)

1
10

In [17]:
del var1

In [18]:
print(var1)

NameError: name 'var1' is not defined

In [19]:
del var2

In [20]:
print(var2)

NameError: name 'var2' is not defined

<h3>Python supports four different numerical types âˆ’</h3>
<ul>
   <li>int (signed integers)</li>
   <li>long (long integers, they can also be represented in octal and    hexadecimal)</li>
   <li>float (floating point real values)</li>
   <li>complex (complex numbers)</li>
  
</ul>

<h3>Python Strings</h3><br>
    <i>The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.</i>

In [28]:
str = 'Hello world!'

In [29]:
print(str) #complete string

Hello world!

In [30]:
print(str[0])

H

In [31]:
print(str[2:5])

llo

In [32]:
print(str[2:])

llo world!

In [33]:
print(str*2)

Hello world!Hello world!

In [34]:
print(str + ' Test')

Hello world! Test

<h3>Python Lists</h3>

In [36]:
list = ['abcd',123, 3.26, 'Rahul',51.6]
tinylist = [786,'ajay']

In [37]:
print(list)

['abcd', 123, 3.26, 'Rahul', 51.6]

In [38]:
print(list[0])

abcd

In [39]:
print(list[1:3])

[123, 3.26]

In [40]:
print(list[2:])

[3.26, 'Rahul', 51.6]

In [41]:
print(tinylist * 2)

[786, 'ajay', 786, 'ajay']

In [42]:
print(list+tinylist)

['abcd', 123, 3.26, 'Rahul', 51.6, 786, 'ajay']

<h3>Python Tuples</h3>

In [46]:
tuple = ('abcd', 786, 2.23, 'Rahul', 70.2)
tinytuple = (123,'ajay')

In [47]:
print(tuple)

('abcd', 786, 2.23, 'Rahul', 70.2)

In [48]:
print(tuple[0])

abcd

In [49]:
print(tuple[1:3])

(786, 2.23)

In [51]:
print(tuple[2:])

(2.23, 'Rahul', 70.2)

In [53]:
print(tinytuple * 2)

(123, 'ajay', 123, 'ajay')

In [54]:
print(tuple + tinytuple)

('abcd', 786, 2.23, 'Rahul', 70.2, 123, 'ajay')

In [63]:
tuple = ('abcd',786,2.23,'Rahul',70.2)
list = ['abcd',786,2.23,'Rahul',70.2]
list[2] = 1000
tuple[2] =1000

TypeError: 'tuple' object does not support item assignment

In [64]:
list

['abcd', 786, 1000, 'Rahul', 70.2]

In [65]:
tuple

('abcd', 786, 2.23, 'Rahul', 70.2)

<h3>Python Dictionary</h3>

In [66]:
dict = {}
dict['one'] = 'This is one'
dict[2]     = 'This is two'

In [67]:
tinydict = {'name': 'jhon', 'code': 6734, 'dept': 'sales'}

In [68]:
print(dict['one'])

This is one

In [69]:
print(dict[2])

This is two

In [70]:
print(tinydict)

{'name': 'jhon', 'code': 6734, 'dept': 'sales'}

In [71]:
print(dict)

{'one': 'This is one', 2: 'This is two'}

In [73]:
print(tinydict.keys())

dict_keys(['name', 'code', 'dept'])

In [74]:
print(tinydict.values())

dict_values(['jhon', 6734, 'sales'])